<nav id="config-bar">
	<ul id="config-nav">
		<li id="config-options">
			<a href="#">Options</a>
			<section class="config-bar-menu">
				<form action="/update" method="post">
					<ul>
						<li>
							<label for="option-background-color">Background Color</label>
							<input type="text" name="option-background-color" value="">
						</li>
						<li>
							<label for="option-font">Font</label>
							<select name="option-font">
								<option value="droid-sans">Droid Sans</option>
							</select>
						</li>
						<li>
							<label for="option-header-font-color">Header Text Color</label>
							<input type="text" name="option-header-font-color" value="">
						</li>
						<li>
							<label for="option-header-font-color">Body Text Color</label>
							<input type="text" name="option-header-font-color" value="">
						</li>
						<li>
							<button type="submit">Save</button>
						</li>
					</ul>
				</form>
			</section>
		</li>
		<li id="config-profile">
			<a href="#">Profile</a>
			<section class="config-bar-menu">
				<form action="/update" method="post">
					<ul>
						<li>
							<label for="profile-title">Title</label>
							<input type="text" name="profile-title" value="<%= @profile.title %>">
						</li>
						<li>
							<label for="profile-subtitle">Subtitle</label>
							<input type="text" name="profile-subtitle" value="<%= @profile.subtitle %>">
						</li>
						<li>
							<label for="profile-caption">Caption</label>
							<input type="text" name="profile-caption" value="<%= @profile.caption %>">
						</li>
						<li>
							<label for="profile-location">Location</label>
							<input type="text" name="profile-location" value="<%= @profile.location %>">
						</li>
						<li>
							<label for="profile-bio">Bio</label>
							<textarea name="profile-bio"><%= @profile.bio %></textarea>
						</li>
						<li>
							<button type="submit">Save</button>
						</li>
					</ul>
				</form>
			</section>
		</li>
		<li id="config-links">
			<a href="#">Links</a>
			<section class="config-bar-menu">
				<form action="/update" method="post">
					<ul>
						<% @links.each do |link| %>
						<li>
							<label for="link-<%= link.name %>"><%= link.name %></label>
							<input type="text" name="link-<%= link.name %>" value="<%= link.url %>"> 
						</li>
						<% end %>
						<li>
							<button type="submit">Save</button>
						</li>
					</ul>
				</form>
			</section>
		</li>
	</ul>
	
	<ul id="config-admin">
		<li id="logout"><a href="/logout">Logout</a></li>
		<li id="hide"><a href="#">Hide</a></li>
	</ul>
</nav>