<section id="profile">
  <section id="overview">
    <figure id="avatar">
      <img src="<%= @avatar %>" alt="<%= @title %>" />
    </figure>
    <section id="info">
      <h1><%= @title %></h1>
      <h2><%= @subtitle %></h2>
    </section>
  </section>
  <div style="clear:both"></div>
  <section id="details">
    <h2><%= @bio_title %></h2>
    <p><%= @bio %></p>
  </section>
</section>