<div class="module" id="profile">
  <section id="overview">
    <figure id="avatar">
      <img src="<%= @avatar %>" alt="<%= @profile.title %>" />
      <figcaption><%= @profile.caption %></figcaption>
    </figure>
    <section id="info">
      <h1 id="fittext"><%= @profile.title %></h1>
      <h2><%= @profile.subtitle %></h2>
      <h3><%= @profile.location %></h3>
    </section>
  <div style="clear:both"></div>
 </section>
  <div style="clear:both"></div>
  <section id="details">
    <%= @profile.bio %>
  </section>
</div>