<section id="profile">
  <section id="overview">
    <figure id="avatar">
      <img src="<%= @avatar %>" alt="<%= @name %>" />
    </figure>
    <h1><%= @name %></h1>
    <h2><%= @subheading %></h2>
  </section>

  <div style="clear:both"></div>

  <section id="details">
    <h2><%= @bio_heading %></h2>
    <p><%= @bio %></p>
  </section>
</section>

<ul id="links">
  <li><a class="twitter" href="<%= @twitter_url %>" alt="">Twitter</a></li>
  <li><a class="github" href="<%= @github_url %>" alt="">Github</a></li>
  <li><a class="linkedin" href="<%= @linkedin_url %>" alt="">Linkedin</a></li>
  <li><a class="forrst" href="<%= @forrst_url %>" alt="">Forrst</a></li>
  <li><a class="dribble" href="<%= @dribble_url %>" alt="">Dribble</a></li>
  <li><a class="foursquare" href="<%= @foursquare_url %>" alt="">Foursquare</a></li>
  <li><a class="gowalla" href="<%= @gowalla_url %>" alt="">Gowalla</a></li>
  <li><a class="facebook" href="<%= @facebook_url %>" alt="">Facebook</a></li>
  <li><a class="blog" href="<%= @blog_url %>" alt="">Blog</a></li>
</ul>
