<section id="profile">
  <section id="overview">
    <figure id="avatar">
      <img src="<%= @avatar %>" alt="<%= @profile.title %>" />
    </figure>
    <section id="info">
      <h1><%= @profile.title %></h1>
      <h2><%= @profile.subtitle %></h2>
    </section>
  </section>
  <div style="clear:both"></div>
  <section id="details">
    <p><%= @profile.bio %></p>
  </section>
</section>